.Pokepack-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Pokepack-winner {
    color: salmon;
}
.Pokepack-loser {
    color: seagreen;
}
/* .Pokepack-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
} */